footer {
    margin-top: 2em;
    padding: 3em 0 1em 0;
    min-height: 200px;
    color: #ddd;
    background: #222;
    font-size: $base-font-size * 0.7;

    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 10px;
    /* align-items: center; */
    
    .logo-details {
        grid-column: 2/5;
    }
    .page-links {
        grid-column: 5/7;
    }
    .latest-posts {
        grid-column: 7/10;
    }
    .contact-us {
        grid-column: 10/12;
    }
    p {
       color: #ddd; 
       font-size: $base-font-size * 0.7;
    }
    
    li {
        margin-bottom: 10px;
    }
    
    a {
         color: #ddd;
         text-decoration: none;
         
        
        &:hover {
            color: #fff;
        }
    }
    
    img {
        -webkit-filter: grayscale(1);
                filter: grayscale(1);
    }
    
    .social {
        li {
            display: inline-block;
            margin-right: 10px;
            
            
            
            
            
            
            .fa {
                padding: 8px 10px;
                background: white;
                border-radius: 50%;
                font-size: $base-font-size;
                color: var(--brand-color);
                
                &:hover {
                    color: $text-color;
                }
            }
        }
    }
}