footer {
    margin-top: 2em;
	padding: 2em 0;
    min-height: 200px;
    color: #ddd;
    background: #222;
    font-size: $base-font-size * 0.7;

   
    /* align-items: center; */
	.footer-content {
		max-width: 1200px;
		/* display: grid;
		grid-template-columns: repeat(12, 1fr);
		grid-gap: 10px; */
		margin: 0 auto;
	}
	
/*     .logo-details {
        grid-column: span 4;
    }
    .page-links {
        grid-column: span 2;
    }
    .latest-posts {
        grid-column: span 4;
    }
    .contact-us {
        grid-column: span 2;
    } */
    p {
       color: #ddd; 
       font-size: $base-font-size * 0.7;
    }
    
    li {
        margin-bottom: 10px;
    }
    
    a {
         color: #ddd;
         text-decoration: none;
         
        
        &:hover {
            color: #fff;
        }
    }
    
    img {
        -webkit-filter: grayscale(1);
                filter: grayscale(1);
    }
    
    .social {
        li {
            display: inline-block;
            margin-right: 10px;
            
            
            
            
            
            
            .fa {
                padding: 8px 10px;
                background: white;
                border-radius: 50%;
                font-size: $base-font-size;
                color: var(--brand-color);
                
                &:hover {
                    color: $text-color;
                }
            }
        }
    }
}