* {
    /* border: 1px dashed #eee !important; */
}

body {
    font-family: $base-font-family;
    font-size: $base-font-size;
    text-rendering: optimizeLegibility;
    font-weight: $base-font-weight;
    background-repeat: no-repeat;
    line-height: 1.8;
    color: #555;
}

@mixin headings {
    h1, h2, h3,
    h4, h5, h6 {
        @content;
    }
}

@include headings {
	font-family: var(--font);
    font-weight: bold;
    margin-bottom: 10px;
}

img {
    max-width: 100%;
}


a {
	word-break: break-all;
}

.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    min-height: 100px;
}

header {
    text-align: center;
    // min-height: 150px;
	background: rgba(169, 113, 108, 0.23);
    grid-column: span 12;

    @include media-query($on-palm) {
        min-height: auto;
    }

    .logo-title {
        font-weight: 400;
        font-size: $base-font-size * 2.9  ;
        font-family: 'Crete Round', serif;
        color: var(--brand-color);
        color: #996666;
    		margin: 10px auto !important;
    		text-align: center;
    		width: 100%;

		span {
			color: #885959;
		}

		@include media-query($on-palm) {
			font-size: $base-font-size * 1.5;
				margin-bottom: 0;
				line-height: 1.5;
			}
    }



}









nav {
    grid-row: 2;
    grid-column: 3 / 11;
    height: 50px;
    margin: 0 auto;

    @include media-query($on-palm) {
         grid-column: span 12;
         margin: 0;
        background: var(--brand-color);
        height: auto;
    }
}


.logo {
	grid-row: 3;
	grid-column: 10 / 13;
	position: relative;
	// top: -100px;

	@include media-query($on-laptop) {
		position: static;
		text-align: center;
		grid-column: 4/9;
	}

	img {
		position: absolute;
		top: -10%;
		left: -20%;

		@include media-query($on-laptop) {
			position: static;
		}

	}
}

/*
.logo {
        position: absolute;
        top: 10%;
		right: 15%;

        @include media-query($on-palm) {
            grid-column: 2/3;
            position: static;
        }

		img {
			@include media-query($on-palm) {
				width: 60px;
			}
		}

} */




.main-content {
    grid-row: 4;
    grid-column: 3 / 11;
    max-width: 760px;
    margin: 0 auto;

	@include media-query($on-palm) {
         grid-column: span 12;
         margin: 20px;
    }


    p {
        text-align: justify;
    }
}

footer {
    grid-row: 5;
    grid-column: 1 / 13;
    background-color: #333;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.collage {
    margin-bottom: 2em;
}

blockquote {
    font-style: italic;
    color: var(--brand-color);
    font-size: 1em;
}

.page-title {
    text-decoration: underline;
    text-decoration-style: double;
}
.grey {
    color: $grey-color;
}

strong {
    font-weight: bold;
}
.nostyle {
	text-decoration: none;
}
