---
---
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ page.title }} - {{site.title}}</title>

  <link rel="stylesheet" href="{{site.baseurl}}/css/main.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Crete+Round:400&text=ENGASNIOR" rel="stylesheet">
  {% if page.url == '/gallery/' %}
    <link rel="stylesheet" href="{{site.baseurl}}/css/gallery.css">
  {% endif%}

</head>
<body style="background-image: url({{site.baseurl}}/img/engage-india-bg.jpg);">

<div id="loader" class="loader">
	<div class="lds-dual-ring"></div>
</div>


<div class="container">
    <header>
       <a href="{{site.baseurl}}/" class="nostyle"><h1 class="logo-title">ENG<span>AGE</span> SENIORS</h1></a>

    </header>

    <nav>

       <div class="topnav" id="myTopnav">
          <a href="{{site.baseurl}}/" class="first">Home</a>
           <div class="dropdown">
            <div class="dropbtn">Background <i class="fa fa-caret-down"></i>
            </div>
            <div class="dropdown-content">
              <a href="{{site.baseurl}}/ageing-world/">Ageing World</a>
              <a href="{{site.baseurl}}/ageing-india/">Ageing India</a>
            </div>
          </div>

        <a href="{{site.baseurl}}/who-are-we/">Who We Are</a>
        <a href="{{site.baseurl}}/why-are-we/">Why We Are</a>


          <div class="dropdown">
            <div class="dropbtn" >What We Do
              <i class="fa fa-caret-down"></i>
            </div>
            <div class="dropdown-content">
              {% for item in site.data.what-we-do %}
              <a href="{{site.baseurl}}{{item.link}}">{{item.title}}</a>
              {% endfor %}

            </div>
          </div>
          <a href="{{site.baseurl}}/gallery/">Gallery</a>
          <a href="{{site.baseurl}}/contact/">Contact</a>
          <a class="last" id="home" href="{{site.baseurl}}/">Home</a>
          <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="myFunction()">&#9776;</a>
        </div>
    </nav>

  {% if page.url == '/' %}
   <div class="logo">
            <img src="{{site.baseurl}}/img/Logo-2.png" alt="{{site.title}}">
    </div>
   {% endif %}

    <div class="main-content">


  {{ content }}

    </div>


    <footer>
       <div class="r footer-content">
        <div class="c-4 logo-details">
            <img width="60" src="{{site.baseurl}}/img/Logo.png" alt="{{site.title}}">
            <p class="text-left">{{site.description}}</p>
        </div>
        <div class="c-2 page-links">
           <h4>Quick Links</h4>
            <ul>
               <!--  <li><a href="{{site.baseurl}}/">Home</a></li> -->
                <li><a href="">Who We Are?</a></li>
                <li><a href="">What We Are?</a></li>
                <li><a href="">What We Do?</a></li>
                <li><a href="">Gallery</a></li>
            </ul>
        </div>
        <div class="c-4 latest-posts">
            <h4>Latest Posts</h4>
            <ul>
               {% for item in site.data.latest-posts %}
                <li><a href="{{item.link}}">{{item.title | truncate: 40}}</a></li>
               {% endfor %}
            </ul>
        </div>
        <div class="c-2 contact-us">
            <h4>Contact Us</h4>
            <ul class="contact"><li><a href="tel:+91 999 9999999">+91 999 999 9999</a></li><li><a href="mailto:{{site.email}}">{{site.email}}</a></li></ul>

        <ul class="social">
            <li><a target="_blank" href="{{site.facebook}}"><i class="fa fa-facebook-square"></i></a></li>
            <li><a target="_blank" href="{{site.twitter}}"><i class="fa fa-twitter-square"></i></a></li>
            <li><a target="_blank" href="mailto:{{site.email}}"><i class="fa fa-envelope"></i></a></li>
        </ul>
        </div>
        </div>
    </footer>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
{% if page.url == '/gallery/' %}
<script src="{{site.baseurl}}/js/gallery.js"></script>
{% endif%}
<script>
jQuery(document).ready(function() {
	jQuery("#loader").hide();
});
	</script>
<!-- Nav Script -->
<script>
function myFunction() {
    var x = document.getElementById("myTopnav");
    if (x.className === "topnav") {
        x.className += " responsive";
    } else {
        x.className = "topnav";
    }
}
</script>

</body>
</html>
